@import './footer-top';
@import './footer-bottom';
footer {
    height: 375px;
    background: #707070 0% 0% no-repeat padding-box;
    justify-content: center;
    text-align: center;
    h1 {
        color: #ffffff;
        font-size: 22px;
        font-family: 'roman';
        padding-top: 30px ;
    }
}