@import './main-content/main-content';
@import './promo/promo-page';

.content {
    width: 100%;
}

.view-action {
    border: 1px solid ;
    text-decoration: none;
    color: #222222;
    padding: 10px;
}