* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
};

body {
  font-family: 'Open Sans', sans-serif;
};

:root {
  --main-color: #ff9800;
};

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

$fa-font-path: '/fonts';
@import './../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import './../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import './../node_modules/@fortawesome/fontawesome-free/scss/brands';
@import './../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';

@import'./header-part';
@import'./setting-box';
@import'./about-us';
@import'./skills';
