.header-bottom {
    
    
    .nav-main {
        display: flex;
        justify-content: space-between;
        background: #2B2B2B 0% 0% no-repeat padding-box;

        ul {
            display: none;
        }

        p {
            font-size: 36px;
            color: #ffffff;
            margin-left: 34px;
            margin-top: 10px;
            margin-bottom: 10px;
            


        }
        form {
            margin-right: 34px;
        }
        
        .fa-search {
            position: relative;
            top: -11px;
            right: 10px;
            color: white;
        }
        input {
            position: relative;
            right: -21px;
            margin-top: 33px;
            bottom: 10px;
            color: #FFFFFF;
            background-color: #2B2B2B;
            width: 227px;
            height: 30px;
            border: 0.20000000298023224px solid #FFFFFF;

            &::placeholder {
                font-size: 10px;
                font-style: italic;
                font-family: 'Roboto';
                position: relative;
                top: -2px;
                left: 5px;
                color: #fff;
                opacity: 0.58;
            }
        }

        
    }

    .header-background {
        height: 177px;
        width: 100%;
        background-image: url(/img/mob-background.png)  ;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: right;
        margin: 0;

        button {
            position: relative;
            top: 124px;
            right: 35px;
            width: 69px;
            height: 21px;
            font-size: 10px;
            font-family: 'Roboto';
            font-weight: normal;
            
        }
    }
    
    
    
   
}